<mat-grid-list cols="9" rowHeight="1:1" gutterSize="10">
        <mat-grid-tile *ngFor="let entry of entries">
            <div style="height: 100%; width: 100%">
                <svg viewBox="0 0 512 512">
                <svg:g transform="matrix(1.25 0 0 -1.25 0 45)">
                    <svg:path [ngClass]="{
                        'svg-letter-selected': entry.selected,
                        'svg-letter': !entry.selected
                      }" [attr.d]="entry.letterPath"></svg:path>
                </svg:g>
                </svg>
            </div>
            <div [ngClass]="{
                'svg-letter-selected': entry.selected,
                'entry-underline': !entry.selected
              }"></div>
        </mat-grid-tile>
</mat-grid-list>
<div class="divider"></div>
<mat-grid-list cols="9" rowHeight="1:1" gutterSize="10">
    <mat-grid-tile *ngFor="let square of squares">
        <div style="height: 100%; width: 100%" (mouseenter)="onMouseEnter(square)" (mouseleave)="onMouseLeave(square)" (click)="onSelect(square)">
            <svg viewBox="0 0 512 512">
            <svg:g transform="matrix(1.25 0 0 -1.25 0 45)">
                <svg:path [ngClass]="{
                    'svg-square-hovering': square.hovering,
                    'svg-square-selected': square.selected,
                    'svg-square': !square.selected
                }" d="M409.6-328.089c0-25.134-20.378-45.511-45.511-45.511H45.511C20.378-373.6,0-353.222,0-328.089 V-9.511C0,15.622,20.378,36,45.511,36h318.578C389.222,36,409.6,15.622,409.6-9.511V-328.089z"/>
                <svg:path [ngClass]="{
                    'svg-letter-selected': square.selected,
                    'svg-letter': !square.selected
                }" [attr.d]="square.letterPath"></svg:path>
            </svg:g>
            </svg>
        </div>
    </mat-grid-tile>
</mat-grid-list>
