@font-face {
    font-family: ChewyRegular;
    src: url("./assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
}

body{
    background-color: #c6f1d6;
    margin: 0;
}

html, body{
    height: 100%;
}

.container{
     height: 100%;
}

.item {
   max-width: 920px !important;
   margin-bottom: 25px;
   padding-left: 10px;
   padding-right: 10px;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 128px;
    height: 128px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(216, 166, 67);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
}
  